body{
background:black;
color:cyan;
font-family:Arial;
margin:0;
overflow:hidden;
text-align:center;
}

#startup,
#loading,
#online,
#movieTitle{
width:100vw;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.loader{
width:500px;
height:30px;
border:2px solid cyan;
}

.bar{
width:0%;
height:100%;
background:cyan;
}

video{
width:100vw;
height:100vh;
object-fit:cover;
}
